@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #E7C1F5;
    --cor1: #B54DDB;
    --cor2: #82379E;
    --cor3: #4C205C;
    --cor4: #51335C;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-destaque2: 'Bebas Neue', 'cursive';
}

* {

    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color:var(--cor0);
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1em;
    min-height: 130px;
    color: white;
    background-image: linear-gradient(var(--cor0), var(--cor1));
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

div#nome h1{
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 4em;
    padding: 15px, 15px, 0px, 15px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

div#nome h2{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin: auto;
    text-align: center;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

div#menu{
    
    padding: 5px;
    
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: white;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .2s;
}
div.icones-menu{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 7px;
    display: inline-block;
    
}
nav > a:hover{
    background-color: var(--cor0);
    color: black;
}
main{
    max-width: 80%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.heading{
    margin: 20px 0px 5px 50px;
}
div.heading h1{

    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2.5em;
    color:rgba(0, 0, 0, 0.623);
}


div#collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


div.collection-item{
    font-family: var(--fonte-destaque);
    width: 296px;
    display: inline-block;
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.164);
    border-style: solid;
    border-width: 0.1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
    
}
div.collection-item img{
    margin-left: 18px;
}

h2.collection-item-name{
    font-family: var(--fonte-destaque);
    width: 260px;
    height: 32px;
    margin-left: 18px;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.63);
}

div.collection-price-content{
    width: 260px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 1.3em;
    margin-left: 18px;
    color: rgba(0, 0, 0, 0.63);
}
div.collection-price-content strong{
    color:var(--cor2);
}
div.collection-price-content small{
    
    color:var(--cor2);
    display:block;
}
div.collection-item button{
    width: 100%;
    height: 40px;
    color: white;
    margin-top: 3px;
    border-radius: 5px;
    border-color: var(--cor1);
    background-color: var(--cor1);
    font-size: 1em ;
    font-weight: bold;
}
div.collection-item button:hover{
    border-color: var(--cor2);
    background-color: var(--cor2);
}