body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, 
h2, 
h3, 
p {
    margin: 0px;
}
a{
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.cor {
    color: #5CD17A;
}
.container {
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 150px;
    align-items: start;
}
.conteudo{
    display: flex;
    flex-direction: column;
    gap: 60px
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    max-width: 8ch;
    min-width: 5ch;
    word-break: break-all;
    text-transform: uppercase;
}

.texto{
    font-size: 1.5rem;
    max-width: 40ch;
    line-height: 1.5;
    font-weight: normal;
}

@media (max-width: 1000px) {
    .subtitulo {
        font-size: 7.5rem;
        max-width: 336px;
    }
}
@media (max-width: 1000px) {
    .texto{
        font-size: 1.25rem;
        max-width: initial;
    }
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 30px 25px;
    }
    .subtitulo {
        font-size: 2.5rem;
        text-transform: capitalize;
        max-width: initial;
    }
}
@media (max-width: 800px) {
}

